body, html {
    height: 100;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-image: url('backgroundimage.jpeg');
    background-size: cover;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 500%;
    color: black;
}

